*{
    margin:0;
    padding:0;
}
ol, ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
b,strong{
    font-weight:normal;
}
h1,h2,h3,h4,h5,h6{
    font-size: 16px;
    font-weight: normal;
}
i,em{
    font-style: normal;
}
.warename{

        height: 69px;
    height: 22px;
    line-height: 22px;
    margin-top: 50px;
    padding-top: 120px;
    padding-bottom: 17px;
    /*border-bottom: 1px solid #ddd;*/
    font-size: 13px;
    color: #999;
}
.warename a{
    font-size: 13px;
    color: #999;
}
.shop{
    height: 425px;
    width: 1090px;
   /*position: relative;*/
}
/*.nothing{
    text-align: center;
    line-height: 50px;
    color: #a5c2eb;
}
*/
.shop_detalis{
    float:left;
font-size: 12px;
color: #c2a5a5;
}
.sub{
    margin-left: 10px;
}
._shop{
        float: left;
    margin-top: 150px;
    margin-left: 300px;
    line-height: 30px;
}
.btn{
display: block;
    height: 22px;
    padding: 0 4px;
    border-radius: 3px;
    background: #e31436;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    border:0;
    margin-top: 10px;
}
